/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --firstColor: #00bcf7;
    --facebookColor: #214ac3;
    --secondColor: #000e12;
    --thirthColor : #ffffff;
}

body{
   font-family: 'poppins', sans-serif;
   font-size: 1rem;
}

/* style main */
#main {
    /* background-color: red; */
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* style section header */
.header {
    /* background-color: red; */
    display: flex;
    width: 100%;
    margin: 30px 25px;
    padding: 10px 15px;
    justify-content: center;
}

.section.left img{
    /* width: 50%; */
    margin-right: 15px;
    /* height: 100%; */
}

.section.right {
    /* width: 50%; */
}

/* style form */

#form-login {
    border: 1px solid #ccc;
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.title {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: var(--secondColor);
}

.section-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    /* padding: 10px 8px; */
}

.input-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
   margin: 15px 0;
}

.input-group input{
    width: 100%;
    margin-bottom: 7px;
    padding: 8px 5px;
    font-size: 0.8rem;
    color: var(--secondColor);
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}

.btn-login {
    width: 100%;
    background-color: var(--firstColor);
    color: var(--thirthColor);
    font-size: 0.8rem;
    border: none;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}

.lingns {
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.lingns .lign{
    border: 0.3px solid #ccc;
    width: 50%;
}

.lingns span{
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--secondColor);
}

.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;

}

.forgot ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.item-facebook  img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.item-facebook,
 .item-forgot,
  a{
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--facebookColor);
    font-weight: 400;
}


/* sign up */

.sign-up{
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px 15px;
}

.sign-up p{
    text-align: center;
    font-size: 0.8rem;
}

.sign-up a{
    color: var(--firstColor);
    font-weight: 700;
    font-size: 0.8rem;

}

.section-btns{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.btns{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.btn{
    display: flex;
    align-items: center;
    padding: 0 6px;
    border-radius: 6px;
    background-color: var(--secondColor);
    color: var(--thirthColor);
    margin: 0px 8px;
}

.btn .icon img{
    width: 25px;
    height: 25px;
    margin-right: 8px ;
}
.description em {
    padding-bottom:-15px ;
}

.description strong {
    font-size: 1rem;
    text-transform: capitalize;
}

.google-play{
    text-transform: uppercase;
    padding-top: 5px;
}

/* style Footer */

footer {
    /* background-color: red; */
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.footer-head ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-head ul li{
    margin: 0 10px;
    font-size: 0.7rem;
    padding-bottom: 15px;
    color: #525252;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright select{
    font-size: 0.7rem;
    outline: non;
    border: none;
    background-color: transparent;
    color: #525252;
}

.copyright p{
    font-size: 0.7rem;
    color: #525252;
    padding-left: 5px;
}