* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Style body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    
}

body p{
    margin-bottom: 1.5em;
}

body::after{
    content: "";
    display: table;
    clear: both;
}

/*Style header*/
header{
    padding: 20px 30px ;
    
}

header ul{
    list-style: none;
}

header li{
    display: inline-block;
    margin-right: 6px;
}
/* Style main */
main{
    min-height: 100vh;
    padding: 10px 30px;
    margin: 0 auto;
}
/* Style section */
.section-posted img{
    width: 150px;
    height: auto;
    background-color: #bb0f0f;
}

/* Style first section */
#first-section img{
    width: 600px;
}

/* Style related posts */
.related-posts li img{
    width: 200px;
    height: auto;
   
}

/* Style footer */
footer p{
   padding: 20px 30px;
}

